body{
    margin: 0;
    background-image: url(.vscode/image/bg2.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width:300px;
    overflow: hidden;
}
#display{
   
    padding:20px;
    font-size: 3em;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%); 
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 25px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 31%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%); 
}
button:active{
    background-color: hsl(0, 0%, 50%); 
}
.operater-btn{
    background-color: hsl(35, 100%, 51%);
}
.operater-btn:hover{
    background-color: hsl(35, 100%, 61%);
}
.operater-btn:active{
    background-color: hsl(35, 100%, 70%);
}
